/*imports*/
/*Colores*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap");
* {
  padding: 0;
  margin: 0; }

body {
  background-color: #eee; }

.ejemplo {
  position: absolute;
  top: 0%;
  left: -50%;
  height: 100px;
  width: 200px; }

header {
  background-color: white;
  box-shadow: 0px 3px 5px 0px rgba(156, 156, 156, 0.75);
  margin: 0px 0 10px 0;
  padding: 10px;
  position: sticky;
  top: 0px;
  z-index: 2;
  margin-top: 0px; }

/* Navegador */
.navbar li {
  margin: 5px;
  list-style: none; }

.navbar li a {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 5px 5px 5px 0px rgba(163, 162, 162, 0.73);
  transition: .3s; }

.navbar li a:hover {
  background-color: #eee;
  padding: 10px;
  border-radius: 3px; }

/* == Carrusel */
.slide {
  margin-top: 10px; }

.slide img {
  height: 10vh;
  min-height: 400px;
  background: no-repeat center center scroll; }

/* inicio */
.p_inicio {
  color: black;
  padding: 20px;
  margin-top: 10px;
  margin-right: 300px;
  margin-bottom: 10px;
  margin-left: 300px;
  border-radius: 50px; }

h2 {
  color: black;
  font-family: 'Radio Canada';
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px; }

h3 {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px; }

p {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  text-align: center;
  padding: 20px; }

fieldset {
  padding: 40px;
  margin-bottom: 20px; }

/* consultar como agrandar video */
/*productos*/
.grid {
  display: grid;
  grid-template-areas: "Picada1" "Picada2" "Picada3" "Picada4" "Picada5" "Picada6" "Picada7" "Picada8";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  align-items: stretch;
  padding: 20px; }

.grid article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3); }

.grid article img {
  max-width: 100%; }

.picada-card {
  padding: 0 20px 20px; }

.boton {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%; }

.hijoGrid {
  display: flex;
  background-color: #eee;
  box-shadow: 5px 5px 5px 0px rgba(156, 156, 156, 0.75); }

.hijoGrid img {
  width: 250px; }

.picada-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.boton {
  cursor: pointer;
  transition: .3s; }

.boton:hover {
  background: #d95252; }

/* Contacto */
/*Footer*/
footer {
  background-image: url("./Img/footer_wood.jpg");
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  list-style-type: none;
  margin-bottom: 0px;
  text-align: center;
  position: static;
  margin-top: 50px; }

.rrss {
  color: white; }

.footer1 {
  color: white; }

.rrssIconos {
  transition: .3s; }

.rrssIconos:hover {
  background-color: #000;
  border-radius: 50%; }

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .grid {
    grid-template-columns: 1fr; } }

@media only screen and (min-width: 300px) and (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 30px; }
  .hijoGrid {
    flex-direction: column; } }
